@media only screen and (min-width:750px){
    .template{
        min-height: 168px!important;
        min-width: 300px!important;        
    }
}
.genre-section{
    padding-top:2.5%;
    padding-bottom:0.5% ;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.genre-main-heading{
    width:50%;
    padding-bottom: 2%;
}
.genre-main-heading h1{
    font-size: 300%;
    font-weight: 800;
    margin-bottom: 0;
    margin-top: 0;
}
.genre-main-heading h3{
    font-size: 125%;
    font-weight: 300;
    margin-top: 1%;
}

.genre-container{
    padding-left: 2.5vw!important;
    padding-right:2.5vw!important;
}

.genre-title{
    height: 80%;
}
.genre-title h3{
    margin:0;
    padding: 0;
    margin-bottom: 1.5%;
    font-weight: 650;
    font-size: 130%;
}

.genre-templates-container{
    width:100%;
    height:70%;
    display: flex;
    overflow-x:auto;
    padding-bottom: 1%;
}
.genre-templates-container::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

.template{
    min-width:43%;
    margin-right: 15px;
    padding-bottom: 2%;
    cursor:pointer;
}
.template img{
    height: 100%;
}
.template h3{
    text-align: center;
    font-weight: 400;
    font-size: 105%;
    margin:0;
}
